.container-error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gif {
  display: flex;
  justify-content: center;
}

.content-error22 {
  text-align: center;
  margin: 3rem 0;
}

.content .main-heading2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.btn-error {
  padding: 1rem;
  border-radius: 15px;
  outline: none;
  border: none;
  background: #000211;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}
